body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:267px;
  top:50px;
  width:54px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:371px;
  top:50px;
  width:69px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:30px;
  width:180px;
  height:61px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:629px;
  top:50px;
  width:50px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:488px;
  top:50px;
  width:95px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:678px;
  top:52px;
  width:290px;
  height:18px;
  font-size:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:271px;
  top:170px;
  width:430px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:271px;
  top:210px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:271px;
  top:231px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:160px;
  top:160px;
  width:92px;
  height:91px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:271px;
  top:270px;
  width:509px;
  height:130px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:130px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:271px;
  top:400px;
  width:509px;
  height:290px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:290px;
}
#u23 {
  position:absolute;
  left:2px;
  top:138px;
  width:505px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:271px;
  top:720px;
  width:509px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:492px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:509px;
  height:1px;
}
#u25 {
  position:absolute;
  left:271px;
  top:748px;
  width:99px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:380px;
  top:748px;
  width:99px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:489px;
  top:748px;
  width:51px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:550px;
  top:748px;
  width:110px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:670px;
  top:748px;
  width:110px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:271px;
  top:800px;
  width:509px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:492px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:509px;
  height:1px;
}
#u36 {
  position:absolute;
  left:382px;
  top:975px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:382px;
  top:1005px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:382px;
  top:1026px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:271px;
  top:960px;
  width:92px;
  height:91px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u43 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:271px;
  top:907px;
  width:430px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:382px;
  top:1095px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:382px;
  top:1125px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:382px;
  top:1146px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:271px;
  top:1080px;
  width:92px;
  height:91px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u53 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:382px;
  top:1224px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:382px;
  top:1254px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:382px;
  top:1275px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:271px;
  top:1209px;
  width:92px;
  height:91px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u61 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:466px;
  top:840px;
  width:45px;
  height:17px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:271px;
  top:841px;
  width:189px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:521px;
  top:840px;
  width:210px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:1400px;
  width:1001px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u70 {
  position:absolute;
  left:21px;
  top:1440px;
  width:219px;
  height:20px;
  font-size:16px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:678px;
  top:1440px;
  width:282px;
  height:50px;
  font-size:16px;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:35px;
  top:1463px;
  width:203px;
  height:50px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
