body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:267px;
  top:50px;
  width:54px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:371px;
  top:50px;
  width:69px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:30px;
  width:180px;
  height:61px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:629px;
  top:50px;
  width:50px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:488px;
  top:50px;
  width:95px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:30px;
  top:252px;
  width:429px;
  height:28px;
  font-size:24px;
  text-decoration:underline;
  color:#0099FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:660px;
  top:188px;
  width:340px;
  height:232px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:232px;
}
#u13 {
  position:absolute;
  left:2px;
  top:108px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:680px;
  top:282px;
  width:232px;
  height:18px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:680px;
  top:314px;
  width:199px;
  height:32px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:32px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:680px;
  top:358px;
  width:120px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:293px;
  width:130px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:170px;
  top:293px;
  width:100px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:326px;
  width:600px;
  height:185px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:185px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:575px;
  width:80px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:614px;
  width:600px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u28 {
  position:absolute;
  left:120px;
  top:575px;
  width:80px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:164px;
  top:528px;
  width:279px;
  height:18px;
  font-size:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:521px;
  width:120px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:654px;
  width:429px;
  height:28px;
  font-size:24px;
  text-decoration:underline;
  color:#0099FF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:695px;
  width:130px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:170px;
  top:695px;
  width:100px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:728px;
  width:600px;
  height:185px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:185px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:1000px;
  width:80px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:1040px;
  width:600px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u45 {
  position:absolute;
  left:680px;
  top:450px;
  width:172px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#0099FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:168px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:30px;
  top:197px;
  width:330px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:680px;
  top:220px;
  width:80px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:773px;
  top:220px;
  width:90px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:876px;
  top:220px;
  width:80px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:115px;
  width:1000px;
  height:55px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:55px;
}
#u57 {
  position:absolute;
  left:2px;
  top:20px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:30px;
  top:133px;
  width:87px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:133px;
  top:133px;
  width:139px;
  height:21px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:293px;
  top:133px;
  width:143px;
  height:21px;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:0px;
  top:1180px;
  width:1001px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u66 {
  position:absolute;
  left:21px;
  top:1220px;
  width:219px;
  height:20px;
  font-size:16px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:678px;
  top:1220px;
  width:282px;
  height:50px;
  font-size:16px;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:35px;
  top:1243px;
  width:203px;
  height:50px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
