body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:202px;
  width:440px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:278px;
  width:589px;
  height:220px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:220px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:31px;
  top:541px;
  width:610px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:593px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:610px;
  height:1px;
}
#u5 {
  position:absolute;
  left:31px;
  top:569px;
  width:99px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:569px;
  width:99px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:249px;
  top:569px;
  width:51px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:310px;
  top:569px;
  width:110px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:430px;
  top:569px;
  width:110px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:621px;
  width:641px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u16 {
  position:absolute;
  left:31px;
  top:664px;
  width:40px;
  height:17px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:71px;
  top:664px;
  width:179px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:31px;
  top:738px;
  width:179px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:987px;
  width:1001px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u24 {
  position:absolute;
  left:21px;
  top:1027px;
  width:219px;
  height:20px;
  font-size:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:678px;
  top:1027px;
  width:282px;
  height:50px;
  font-size:16px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:35px;
  top:1050px;
  width:203px;
  height:50px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:267px;
  top:50px;
  width:54px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:371px;
  top:50px;
  width:69px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:30px;
  width:180px;
  height:61px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
}
#u35 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:629px;
  top:50px;
  width:50px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:488px;
  top:50px;
  width:95px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:30px;
  top:243px;
  width:130px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:170px;
  top:243px;
  width:100px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:31px;
  top:498px;
  width:80px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:31px;
  top:781px;
  width:429px;
  height:18px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:31px;
  top:822px;
  width:429px;
  height:18px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:31px;
  top:866px;
  width:429px;
  height:18px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:660px;
  top:182px;
  width:340px;
  height:232px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:232px;
}
#u53 {
  position:absolute;
  left:2px;
  top:108px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:680px;
  top:276px;
  width:232px;
  height:18px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:680px;
  top:308px;
  width:199px;
  height:32px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:32px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57 {
  position:absolute;
  left:680px;
  top:352px;
  width:120px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:680px;
  top:444px;
  width:172px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#0099FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:168px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:111px;
  width:1000px;
  height:55px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:55px;
}
#u63 {
  position:absolute;
  left:2px;
  top:20px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:30px;
  top:129px;
  width:87px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:133px;
  top:129px;
  width:139px;
  height:21px;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:293px;
  top:129px;
  width:143px;
  height:21px;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:680px;
  top:213px;
  width:80px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:773px;
  top:213px;
  width:90px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:876px;
  top:213px;
  width:80px;
  height:32px;
  font-size:14px;
  color:#0099FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
