body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:267px;
  top:50px;
  width:54px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:371px;
  top:50px;
  width:69px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:30px;
  width:180px;
  height:61px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:629px;
  top:50px;
  width:50px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:488px;
  top:50px;
  width:95px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:678px;
  top:52px;
  width:290px;
  height:18px;
  font-size:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:300px;
  width:170px;
  height:42px;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:141px;
  top:442px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:141px;
  top:472px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:141px;
  top:493px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:30px;
  top:427px;
  width:92px;
  height:91px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:641px;
  top:442px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:641px;
  top:472px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:641px;
  top:493px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:530px;
  top:427px;
  width:92px;
  height:91px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u29 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:141px;
  top:582px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:141px;
  top:612px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:141px;
  top:633px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:30px;
  top:567px;
  width:92px;
  height:91px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u37 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:641px;
  top:582px;
  width:242px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:641px;
  top:612px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:641px;
  top:633px;
  width:260px;
  height:19px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:530px;
  top:567px;
  width:92px;
  height:91px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u45 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:215px;
  top:313px;
  width:189px;
  height:23px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:30px;
  top:373px;
  width:213px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:23px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:30px;
  top:720px;
  width:98px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:30px;
  top:148px;
  width:576px;
  height:72px;
  font-size:16px;
  line-height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:72px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:30px;
  top:800px;
  width:916px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:899px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:916px;
  height:1px;
}
#u55 {
  position:absolute;
  left:252px;
  top:974px;
  width:490px;
  height:180px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:180px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:252px;
  top:890px;
  width:297px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:32px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:252px;
  top:926px;
  width:490px;
  height:19px;
  font-family:'Georgia Italic', 'Georgia';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:280px;
  top:1288px;
  width:123px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:452px;
  top:1288px;
  width:123px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:252px;
  top:1188px;
  width:72px;
  height:71px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u66 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:424px;
  top:1286px;
  width:20px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:570px;
  top:1288px;
  width:173px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:542px;
  top:1286px;
  width:20px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:252px;
  top:1286px;
  width:20px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:348px;
  top:1202px;
  width:173px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:252px;
  top:1330px;
  width:25px;
  height:25px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:290px;
  top:1330px;
  width:25px;
  height:25px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:328px;
  top:1330px;
  width:25px;
  height:25px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:362px;
  top:1330px;
  width:25px;
  height:25px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:348px;
  top:1228px;
  width:221px;
  height:18px;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:1450px;
  width:1001px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u89 {
  position:absolute;
  left:21px;
  top:1490px;
  width:219px;
  height:20px;
  font-size:16px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:678px;
  top:1490px;
  width:282px;
  height:50px;
  font-size:16px;
  text-align:right;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:35px;
  top:1513px;
  width:203px;
  height:50px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:30px;
  top:250px;
  width:890px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:873px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:890px;
  height:1px;
}
